.button {
  border-radius: 3px;
  border: 1px solid #4f005f;
  font-weight: bold;
  font: inherit;
  background-color: #4f005f;
  color: aliceblue;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #741188;
  border-color: #741188;
}
